/*
--------------------------------------------------------------------------------
HTML elements look n feel
--------------------------------------------------------------------------------
*/
html {
  /* base font-size is at reset.scss */
  font-size: 55%;
  // @include retina(1.3) { font-size: 55%; }
  // @include retina(1.5) { font-size: 60%; }
  @include retina(2)   { font-size: 65%; }
}

body {
  background-color: transparent;
  color: $light;
  font: normal 400 2rem/2.8rem 'Khula', sans-serif;
  letter-spacing: -.001em;
}

header {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.bg-lx-blur {
  position: fixed;
  top: 0;
  left: 0;
  background: url(../../background_blur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-gradient {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($purple, 0.6); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba($blue, 0.9), rgba($purple, 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba($blue, 0.9), rgba($purple, 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba($blue, 0.9), rgba($purple, 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(bottom right, rgba($blue, 0.9), rgba($purple, 0.8)); /* Standard syntax */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-black {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($black, 0.6);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  letter-spacing: .02em;
  line-height: 140%;
  font-family: 'Monda', sans-serif;
  font-weight: 700;
}


h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: .30em;
  opacity: 0.7;
  text-align: left;
  @include desktop { text-align: right; margin-bottom: 0; }
}

h4 {
  font-size: 2.4rem;
}

span {
  display: inline-block;
}

a {
  @include transition();
  cursor: pointer;
  text-decoration: none;
  color: $light;
  &:hover { text-decoration: none; }
}

b {
  font-weight: 600;
}

strong {
  font-weight: 800;
}

i {
  font-style: italic;
}

::-moz-selection { background: rgba($black, 0.2); }
::selection { background: rgba($black, 0.2); }

.time-table {
  .third {
    width: 100%;
    @include tablet { width: 48%; }
    @include desktop { width: 40%; }

    a {
      padding-top: 1.1rem;
      padding-bottom: 0.9rem;
      padding-left: 1rem;
      @include transition();
      &:hover, &:active {
        @include transition();
        background-color: rgba($dark, 0.2);
        cursor: pointer;
      }
    }

  }
}
