.partner {
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 2rem;


  img {
    max-width: 80%;
    max-height: 80%;
  }

  &:hover, &:active {
    background-color: $light;
    box-shadow: 0px 0px 20px rgba($dark, 0.6);
  }

  &.platinum {
    width: 16rem;
    height: 16rem;
  }

  &.gold {
    width: 11.5rem;
    height: 11.5rem;
  }

  &.silver {
    width: 8.1rem;
    height: 8.1rem;
  }
}
