.content {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    color: #585E64;
    font-size: 1.2em;
    margin-bottom: 100px;
}

.content h3 {
    font-size: 1.2em;
}

body {
    color: #21303F;
    font-family: 'Lato', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.subtitle {
    margin: 9% 0 3%;
}

.title {
    width: 50%;
    margin-top: 12%;
}

.speaker img {
    width: 150px;
}

.speaker-description p {
    margin: 0;
    font-size: 0.8em;
}

@media (min-width : 768px) {
    body {
        margin-left: 17%;
        margin-right: 17%;
    }

    .content {
        font-size: 1.4em;
    }

    .title {
        width: 40%;
    }

    .subtitle {
        margin: 7% 0 3%;
    }

    h2 {
        font-size: 2em;
    }
}

@media (min-width : 1224px) {
    body {
        margin-left: 23%;
        margin-right: 23%;
    }

    .title {
        width: 30%;
    }
}

@media (min-width : 1824px) {
    body {
        margin-left: 30%;
        margin-right: 30%;
    }
}
